altgraph==0.17
etebase==0.31.2
future==0.18.2
msgpack==1.0.2
mysql-connector-python==8.0.22
Nuitka==0.6.15.3
pefile==2021.5.24
protobuf==3.14.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyMySQL==0.10.1
pywin32-ctypes==0.2.0
six==1.15.0
future
mysql-connector
mysql
requests
